# Dependency directory
node_modules
dist
dist-client/**/**/*
babel_cache
src/webapp



# Other
.DS_Store
npm-debug*
.idea

dist-client/webapp/resources/*.min.js

dist-client/webapp/resources/*.min.js.map
