// out: ../css/style.css, sourcemap: false, compress: true
@import '../css/font-awesome/less/font-awesome.less';
.layout-content {
    padding-top: 40px;
}

.menu-top { background: rgba(0, 0, 0, 0) none repeat scroll 0 0 }
.menu-top li a {
    color: #fff !important;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
	font-family: "Montserrat",sans-serif;
}

.menu-top li a:hover { color: #dd3333!important }

.navbar-default.menu-shrink {
    background-color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
}

@media only screen and (max-width:480px) {
    .menu-top {
        color: #fff !important;
        margin-left: 0px;
    }
}
.navbar-default.menu-shrink li a { color: #313131!important }
.navbar-default.menu-shrink li a:hover { color: #dd3333 !important }

.carousel-indicators li {
    content: @fa-var-home;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    &:hover{
        color: #8bc34a;
        text-decoration: none !important;
    }

}
