<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katapulta</title>
    <!--  <link href="app.min.css" rel="stylesheet"> -->

    <link href="http://localhost:3333/style.css" rel="stylesheet">

     <!-- Setting the right viewport -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <div id="main"><%- markup -%></div>
    <!--<script src="vendor.min.js"></script>
    <script src="app.min.js"></script>
-->
<script type="text/javascript" src="http://localhost:3333/bundle.js"></script></script>

  </body>
</html>
